你不应该写用户没有提到的内容

你应该随时考虑最优雅的实现方式，不要使用设计模式，不要过度模块解耦，衡量指标是代码长度。

任何代码部分，你应该随时考虑最简单，最短的实现方式。

任何文字部分，你应该随时考虑最有人性，最温暖，最表达清晰和最让人感动的方式，可以稍微长一点。

所有的文字描述都应该在texts.ts中定义，并使用useTexts()来获取。

我们要做的是一个互联网殡葬公司，用于纪念因为疾病和战争去世的亲人们。

我们有两个功能，一个是追忆廊，一个是云祭奠。

要有两个单独的页面去描述这两个产品是什么。

追忆廊是一个混合web3和web2的文章平台，用户可以发送人物的生平信息，图片等，所有的文章都会存储到web3 arweave链，完全的去中心化，人们也可以来这里祭奠和献花，这需要支付一定的费用，但我们不会全部获取，而是转化为等额的币替您保管，您可以随时取出。

云祭奠是一个数字孪生，数字永生平台，人们将置身于某些场景，和已故的人对话，您可以创建云祭奠空间，也可以修改其可见性，所有的数据都会直接上链，不会在我们的平台做储存和中转，保证隐私性。

